# ========== SELENIUM ==========
SELENIUM_HOST_URL=http://selenium-hub:4444/wd/hub

# ========== MONGO ==========
# For Database
MONGO_ADMIN_USER= <username admin MongoDB>
MONGO_ADMIN_PASSWORD= <password admin MongoDB>
MONGO_HOST=mongo
MONGO_PORT=27017

MONGO_DB_TRENDING_YTB_VIDEOS= <tên database lưu trending videos>
MONGO_COLL_SES_TRENDING_VIDEOS= <tên collection lưu session trending>
MONGO_COLL_UNIQUE_VIDEOS= <tên collection video duy nhất>
MONGO_COLL_UNIQUE_CHANNELS= <tên collection channel duy nhất>

MONGO_EXPRESS_USER= <username cho Mongo Express>
MONGO_EXPRESS_PASSWORD= <password cho Mongo Express>

# ========== MINIO ==========
MINIO_ROOT_USER= <tài khoản root MinIO>
MINIO_ROOT_PASSWORD= <mật khẩu root MinIO>
MINIO_BUCKET_BRONZE= <tên bucket bronze>
MINIO_BUCKET_SILVER= <tên bucket silver>
MINIO_BUCKET_GOLD= <tên bucket gold>
MINIO_HOST=minio
MINIO_PORT=9000

MINIO_BUCKET_YTB_DATA= <tên bucket lưu dữ liệu YouTube>

MINO_LAYER_BRONZE= <thư mục raw-data>
MINO_LAYER_SILVER= <thư mục processed-data>
MINO_LAYER_GOLD= <thư mục aggregated-data>

MINIO_FOLDER_VIDEOS= <thư mục chứa dữ liệu video>
MINIO_FOLDER_CHANNELS= <thư mục chứa dữ liệu channel>

# ========== POSTGRES ===========
POSTGRES_USER= <username cho Airflow>
POSTGRES_PASSWORD= <password cho Airflow>
POSTGRES_DB=airflow

POSTGRES_USER_ETL= <username cho ETL>
POSTGRES_PASSWORD_ETL= <password cho ETL>

POSTGRES_SCHEMA_ETL= <schema ETL, vd: youtube_music_trending>
POSTGRES_DB_ETL= <database ETL, vd: youtube_data>

POSTGRES_FACT_CHANNEL=fact_channel_record
POSTGRES_FACT_VIDEO=fact_video_record
POSTGRES_DIM_CHANNEL=dim_channel
POSTGRES_DIM_VIDEO=dim_video
POSTGRES_DIM_URL=dim_url

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# =========== AIRFLOW ===========
AIRFLOW_USER_ADMIN= <username admin Airflow>
AIRFLOW_PASSWORD_ADMIN= <password admin Airflow>
AIRFLOW_FIRSTNAME= <tên admin>
AIRFLOW_LASTNAME= <họ admin>
AIRFLOW_EMAIL= <email admin>